
<div class="container">
  <div class="row">
    <div class="col-12">
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>


      <% if current_user %>
        Logged in as <%= current_user.name %>.
        <%= link_to "Log Out", logout_path %>
      <% else %>
        Please Login...
      <% end %>
    </div>
  </div>
</div>

